/* Carousel.css */

.carousel-container {
  display: flex;
  overflow-x: auto;
  margin: 0 -10px 10px 0; /* Add negative margin to prevent overflow issues */
}

.carousel-card {
  flex: 0 0 auto;
  box-sizing: border-box;
  width: 100%;
  max-width: 320px;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

.icon {
  width: 80px;
  height: 80px;
  color: #0f7eec;
}

@media (max-width: 767px) {
  .carousel-container {
    margin: 0; /* Remove the negative margin on small screens */
  }
  .carousel-card {
    margin: 10px;
  }
}
