/* ContactUs.css */

/* .PhoneMail{
  font-size: 17px;
  color: black;
  background-color: white;

 

}
/*  */
.PhoneMail span,a{
 
  text-decoration: none;
  color: rgb(252, 252, 252);
}

@media (max-width: 768px) {
  .PhoneMail{
      font-size: 17px;
      color: black;
      background-color: white;
      padding: 20px;
      margin-top: 12px;

  
  }
  .social-media-links svg{
    color: black;
  }
  .PhoneMail span,a{
      text-decoration: none;
      color: black;
  }
}

.social-media-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
    }
  
  .social-media-links i {
    color: #ffffff;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 5px;
  }
  
  .social-media-links svg:hover {
    color: #3183fd;
    
  }
.social-media-links i{
  color: #ffffff;
}  