.HandleAppCls {
  text-align: center;    
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

 .image-style {
  width: 70px;
  height: 70px;
  z-index: 1;
}


.uploadDiv {
  display:contents; /* Use flex display */
  align-items: center; /* Center vertically within the flex container */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .mainDiv{
  display: none;
} */

.HandleAppCls-header {
  position: relative;
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  font-size: calc(10px + 2vmin);
  color: rgb(248, 248, 248);
  backdrop-filter: blur(10px); /* Apply backdrop filter for the glass effect */
 
}


.App-link {
  color: #61dafb;
}
.PolicyDiv{
  background-color: #fff;
  color: black;
  padding: 15px;
  margin-top: 20px;
  border-radius: 10px;
}
.CategoryDiv{
  padding-bottom: 20px;
  padding-top: 20px;
  
}
.uploadmain{
  padding-top: 20px;
}
label,text {
  /* Style for the label at the top */
  display: block; /* Makes the label take up the full width of the container */
  font-weight: bold;
  margin-bottom: 10px; /* Adjust the margin-bottom as needed */
}

.uploadDiv text{
  display: block; /* Makes the label take up the full width of the container */
  font-weight: bold;
  margin-bottom: 10px; /* Adjust the margin-bottom as needed */
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative; /* Adjust position to appear above pseudo-element */	
  margin-top: 20px;
}


button:hover {
  background-color: #ffffff;
  color: black;
}

.SelectedTagsDiv {
  margin-top: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  max-height: 100px; /* Adjust the max height as needed */
  max-width: 280px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
}

.SelectedTagsItem {
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 2px;
  background-color: #fffefe;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.SelectedTagsItem span {
  margin-right: 5px;
  color: #0050c7;
  font-size: 14px;
}

.SelectedTagsItem button {
  cursor: pointer;
  background-color: #111111;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 2px 4px;
  font-size: 10px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (max-width: 768px) {
  .SelectedTagsDiv{
    max-width: auto;
    }
    
}
